{% extends '::base.html.twig' %}

{% block body %}
    
    
    <!--
    {% if is_granted('ROLE_RECEPTION') %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Reception</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked" >
                    <li><a href="{{ path('guest') }}">Gestione degli ospiti</a></li>
                </ul>
            </div>
        </div>
    {% endif %}

    {% if not menu_render.onlyReception %}
        {% if menu_render.userCanChangeOwnPassword or menu_render.homework %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Utente</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked" >
                        {% if menu_render.userCanChangeOwnPassword %}
                            <li><a href="{{ url ('changeMyPassword') }}" >Cambia la tua password</a></li>
                            {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}

-->
        {% if is_granted('ROLE_TEACHER') %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Insegnante</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group" >
                            {% if menu_render.teacherCanResetPassword %}
<!--                            <li><a href="{{ url('resetStudentPassword' ) }}">Reset password di uno studente</a></li> -->
                            {% endif %}
                        <li class="list-group-item">
                            <a href="{{  asset('docs/Istruzioni per attivare internet con igroove.docx') }}">
                                <img src="{{ asset('images/word') }}">
                            </a>
                            <a href="{{  asset('docs/Istruzioni per attivare internet con igroove.pdf') }}">
                                <img src="{{ asset('images/pdf') }}">
                            </a>
                            Come posso controllare l'accesso ad internet degli studenti?
                        </li>
                            {% if menu_render.teacherCanSeeList %}
                            <li class="list-group-item">
                                <a href="{{ asset('docs/Come faccio a dire ad uno studente la sua password.docx') }}">
                                    <img src="{{ asset('images/word') }}">
                                </a>
                                <a href="{{ asset('docs/Come faccio a dire ad uno studente la sua password.pdf') }}">
                                    <img src="{{ asset('images/pdf') }}">
                                </a>
                                Come faccio a dire ad uno studente la sua password?
                            </li>
                            {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endif %}
<!--
    {% if is_granted('ROLE_ADMIN') %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Amministratore</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked" >
                    <li><a href="{{ url('mac') }}" data-prefetch>Gestione bypass indirizzi MAC</a></li>
                </ul>
            </div>
        </div>
-->
    {% endif %}
{% endblock %}
