{% extends '::base.html.twig' %}

{% block body %}


    <div class="container jumbotron" align="center" style="width:80%;">
        <h1>igroove</h1>

        <form action="{{ path('login_check') }}" method="post" class="form-horizontal">
            <input type="hidden" name="_csrf_token" value="{{ token }}"/>
            {#<input type="hidden" name="_target_path" value="{{ url('homepage') }}" />#}
            <input type="hidden" name="popup" value="false"/>
            <div class="form-group">
                <label class="col-lg-5 control-label" for="username">Nome utente</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" placeholder="Nome per l'accesso" id="username"
                           name="_username" value="{{ last_username }}" required="required"/>
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-5 control-label" for="password">Password</label>
                <div class="col-lg-3">
                    <input type="password" class="form-control" placeholder="Password" id="password" name="_password"
                           required="required"/>
                </div>
            </div>


            <button type="submit" class="btn btn-success">Accedi</button>
        </form>


        {% if error %}
            <div class="container" align="center" style="width:80%;margin-top:40px">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ops!</h3>
                    </div>
                    <div class="panel-body">
                        {{ error.message }}
                    </div>
                </div>
            </div>

        {% endif %}
        <p>&nbsp;</p>
        <h6 class="small text-info">Versione {{ version.versionInstalled }} Build {{ version.buildInstalled }}</p>
    </div>



{% endblock %}
