<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ path('homepage') }}" alt="igroove">igroove
        </a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">


            {% if is_granted('ROLE_RECEPTION') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reception <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url('guest') }}">Gestione degli ospiti</a></li>
                    </ul>
                </li>
            {% endif %}

            {% if not menu_render.onlyReception %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utente <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if menu_render.userCanChangeOwnPassword %}
                                <li><a href="{{ url ('changeMyPassword') }}">Cambia la tua password</a></li>
                            {% endif %}

                            {% if menu_render.showBadge %}
                                <li><a href="{{ url ('printMyBadge' ) }}">Stampa il tuo badge informatico</a></li>
                            {% endif %}
                        </ul>
                    </li>


                {% if is_granted('ROLE_TEACHER') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Insegnante <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url('group_providers_list') }}">Visualizza gli elenchi di classe</a></li>
                        </ul>
                    </li>
                {% endif %}
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Amministratore <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url('student_list') }}" data-prefetch>Lista Studenti</a></li>
                        <li><a href="{{ url('teacher_list') }}" data-prefetch>Lista Docenti</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ url('config_edit') }}" data-prefetch>Configurazione igroove</a></li>
                        <li><a href="{{ url('config_theme') }}" data-prefetch>Cambia il look di igroove</a></li>
                        <li><a href="{{ url('service') }}" data-prefetch>Riavvia i servizi</a></li>
                        <li><a href="{{ path('sonata_admin_dashboard') }}" target="_blank">Database dashboard</a></li>
                        <li><a href="{{ app.request.getSchemeAndHttpHost() }}:15672/#/queues" target="_blank">Queues status</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mikrotik <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url('mikrotik') }}" data-prefetch>Router</a></li>
                        <li><a href="{{ url('device') }}" data-prefetch>Gestione ip e dispositivi</a></li>
                        <li><a href="{{ url('mikrotik_pool') }}" data-prefetch>Pool di indirizzi IP</a></li>
                        <li><a href="{{ url('mikrotik_list') }}" data-prefetch>Liste IP</a></li>
                    </ul>
                </li>



            {% endif %}

            <li><a href="{{ url('help') }}">Aiuto</a></li>
            <li><a href="{{ url('logout') }}">Esci</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('credits') }}">Credits</a></li>
            <li><a href="https://bitbucket.org/vittorezen/igroove/issues?status=new&status=open">Segnala un problema</a>
            </li>
        </ul>
    </div>
</div>
