{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Modifica dei dati del router Mikrotik</h1>
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    {{ form_widget(edit_form.submit, {'attr':{'style' : 'display: none'}}) }}

    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    <div class="row sendBtnArea">
        <div class="col-sm-4">
            <label for="{{ edit_form.submit.vars.id }}" class="btn btn-success">{{ edit_form.submit.vars.label }}</label>
        </div>
        <div class="col-sm-4 text-sm-center">
            <a href="{{ path('mikrotik') }}" class="btn btn-default">
                Ritorna alla configurazione
            </a>
        </div>
        <div class="col-sm-4 text-sm-right">
            {% if delete_form is defined %}
                {{ form(delete_form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
