

{#{% block body -%}#}
    {#<h1>Mikrotik - nuovo pool</h1>#}

    {#{{ form_start(form) }}#}

    {#{{ form_errors(form) }}#}
    {#{{ form_widget(form) }}#}
    {#{{ form_rest(form) }}#}

    {#<div class="row sendBtnArea">#}
        {#<div class="col-sm-4">#}
            {#<button type="submit" class="btn btn-success">Aggiungi questo pool</button>#}
        {#</div>#}
        {#<div class="col-sm-4 text-sm-center"></div>#}
        {#<div class="col-sm-4 text-sm-right">#}
            {#<a href="{{ path('mikrotik_pool') }}" class="btn btn-default">#}
                {#Ritorna alla configurazione#}
            {#</a>#}
        {#</div>#}
    {#</div>#}

    {#{{ form_end(form) }}#}

{#{% endblock %}#}

{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mikrotik - nuovo pool</h1>
    {{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_widget(form.submit, {'attr':{'style' : 'display: none'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="row sendBtnArea">
        <div class="col-sm-4">
            <label for="{{ form.submit.vars.id }}" class="btn btn-success">{{ form.submit.vars.label }}</label>
        </div>
        <div class="col-sm-4 text-sm-center">
            <a href="{{ path('mikrotik_pool') }}" class="btn btn-info">
                Ritorna alla lista
            </a>
        </div>
        <div class="col-sm-4 text-sm-right">
            {#{% if delete_form is defined %}#}
                {#{{ form(delete_form) }}#}
            {#{% endif %}#}
        </div>
    </div>

    <div class="modal fade" id="searchDhcpServerNameModal" tabindex="-1" role="dialog" aria-labelledby="searchDhcpServerNameLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="searchDhcpServerNameLabel">Seleziona nome server dhcp</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <select name="searchDhcpServerNameSelect" id="searchDhcpServerNameSelect" class="form-control"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <button type="button" class="btn btn-primary" id="searchDhcpServerNameUseBt">Usa Nome Server</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function ($) {
            var $dhcpServerNameInput = $('#zen_igroovebundle_mikrotikpool_dhcpServerName');
            var $searchDhcpServerBt = $('#searchDhcpServerNameBt');
            var $searchDhcpServerNameUseBt = $('#searchDhcpServerNameUseBt');
            var $searchDhcpServerNameModal = $('#searchDhcpServerNameModal');
            var $mikrotikSelect = $('#zen_igroovebundle_mikrotikpool_mikrotik');
            var $searchDhcpServerNameSelect = $('#searchDhcpServerNameSelect');

            $searchDhcpServerBt.click(function () {
                var mikrotikId = $mikrotikSelect.val();
                if(mikrotikId === null || mikrotikId === "") {
                    return;
                }

                $searchDhcpServerBt.text('Loading...');

                $.get("{{ path('config_mikrotik_get_dhcp_servers_name', {'id': "%id"}) }}".replace("%25id", mikrotikId), function(data) {
                    console.log(data);
                    if(!data || typeof data.names === "undefined"){
                        $searchDhcpServerBt.text('Cerca');
                        return;
                    }

                    var listItems = "";
                    for(var i in data.names) {
                        listItems += '<option value=' + data.names[i] + '>' + data.names[i] + '</option>';
                    }
                    $searchDhcpServerNameSelect.html(listItems);

                    $searchDhcpServerNameModal.modal();
                    $searchDhcpServerBt.text('Cerca');
                }, 'json').fail(function() {
                    $searchDhcpServerBt.text('Cerca');
                });

            });

            $searchDhcpServerNameUseBt.click(function () {
                $dhcpServerNameInput.val($searchDhcpServerNameSelect.val());
                $searchDhcpServerNameModal.modal('hide');
            })
        })
    </script>

{% endblock %}

