{% extends '::base.html.twig' %}

{% block body %}
    <h1>
        <a href="{{ path('group_providers_list') }}">Studenti</a>
        {% if currentSectorName == "" %}
            &gt; {{ provider.name|capitalize }}
        {% else %}
            &gt; <a
                href="{{ path('list_groups_in_provider', {'providerId': provider.id}) }}">{{ provider.name|capitalize }}</a>
            &gt; {{ currentSectorName|capitalize }}
        {% endif %}
    </h1>

    {% if sectorsList %}
        <ul class="nav nav-tabs">
            {% for sector in sectorsList %}
                <li>
                    <a href="{{ path('list_groups_in_provider', {'providerId': provider.id}) }}?sectorId={{ sector.id }}">{{ sector.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <h3>Legenda</h3>
    <p>
        <i class="glyphicon glyphicon-globe"></i> Navigazione attiva per tutto il gruppo &nbsp;
        <i class="glyphicon glyphicon-user"></i> Sono presenti utenti con navigazione singola attiva &nbsp;
        <i class="glyphicon glyphicon-phone"></i> Permessi dispositivi personali
    </p>
    <div class="table-responsive">
        <table class="table table-striped">

            {% set listDivider = '' %}
            {% for group in groups %}
                {% if group.name|length>1 %}
                    {% if group.name|upper|slice(0, 1) != listDivider %}
                        {% set listDivider = group.name|upper|slice(0, 1) %}
                        <tr class="info">
                            <td colspan="3" align="center">{{ listDivider }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
                <tr>
                    <td>
                        {% if group.state=='group-active' %}
                            <i class="glyphicon glyphicon-globe"></i>
                        {% endif %}
                        {% if group.state=='user-active' %}
                            <i class="glyphicon glyphicon-user"></i>
                        {% endif %}
                        {% if group.permitPersonalDevices %}
                            <i class="glyphicon glyphicon-phone"></i>
                        {% endif %}
                        {% if group.endingTime %}
                            <div class="label label-primary">{{ group.endingTime }}</div>{% endif %}
                        {% if group.activedBy != "" %}<br/>
                            <div class="label label-default">{{ group.activedBy }}</div>{% endif %}
                    </td>
                    <td>{{ group.name }}</td>
                    <td style="text-align: right">
                        {% if group.state!='group-active' and group.state != 'activating' %}
                            <button id="internetOn-{{ group.id }}" data-group-name="{{ group.name }}"
                                    class="btn btn-success internetOn">
                                <i class="glyphicon glyphicon-time"></i> Attiva
                            </button>
                        {% endif %}
                        {% if group.state=='group-active' %}
                            <button id="internetEx-{{ group.id }}" data-group-name="{{ group.name }}"
                                    class="btn btn-warning internetOn">
                                <i class="glyphicon glyphicon-time"></i> Estendi
                            </button>
                            <a href="{{ path('internetOff',{'providerId': provider.id,'groupId':group.id}) }}{% if currentSectorId > 0 %}?sectorId={{ currentSectorId }}{% endif %}"
                               class="btn btn-danger"
                                    {% if group.activedByOtherUser %} onclick="return confirm('Non sei stato tu ad abilitare questa classe. Sicuro di volerla disattivare?')"{% endif %}
                            >
                                Disattiva
                            </a>
                        {% elseif group.state=='activating' %}
                            <span class="label label-warning">In Attivazione</span>
                        {% endif %}
                        <a href="{{ path('list_students_in_group',{'groupId':group.id, 'providerId': provider.id}) }}"
                           class="btn {% if group.state=='user-active' %}btn-danger{% else %}btn-default{% endif %}">
                            <i class="glyphicon glyphicon-user"></i> Studenti
                        </a>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>


    <div class="modal fade" id="setTime" tabindex="-1" role="dialog" aria-labelledby="setTime" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Attivazione internet</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="timeToSet">Attiva <span id="setTimeGroup"></span> fino alle:</label> <input
                                        type="time" id="timeToSet" class="form-control"
                                        value="{{ timeToSet|date('H:i') }}"
                                        title="Orario di attivazione, nel formato HH:MM"/>
                            </div>
                        </div>
                        {% if userCanEnablePersonalDevice %}
                            <br/>
                            <div>
                                <label><input type="checkbox" id="permitPersonalDevice" value="1"/> Permetti dispositivi
                                    personali</label>
                                <div id="permitPersonalDeviceMsg" style="display: none">
                                    <small>NB: Attenzione! Questa opzione rallenta il wifi in classe!<br/>Da usare solo
                                        per attività nelle quali è necessario l'utilizzo dei cellulari e pc portatili
                                        degli studenti sulla rete {{ wifiSsid }}.
                                    </small>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
                        <button id="setTimeConfirm" type="button" class="btn btn-primary">Attiva</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function ($) {
            var groupId = '';
            var timeToSet = '{{ timeToSet|date("H:i") }}';
            var setTimeModal = $("#setTime");
            var timeToSetInput = $('#timeToSet');
            var setTimeConfirmBt = $("#setTimeConfirm");
            var permitPersonalDeviceInput = $('#permitPersonalDevice');
            var permitPersonalDeviceMsg = $('#permitPersonalDeviceMsg');
            var internetOnBaseUrl = "{{ path('internetOn',{'providerId': provider.id, 'groupId': '%groupId' }) }}?{% if currentSectorId > 0 %}sectorId={{ currentSectorId }}&{% endif %}";
            var activatedPollingUrl = "{% if activatedGroup != "" %}{{ path('internetIsOn',{'providerId': provider.id, 'groupId': activatedGroup }) }}{% endif %}";
            var activatedPoolingRetryTimes = 0;

            $(".internetOn").click(function () {
                groupId = $(this).attr("id").substring(11);
                $('#setTimeGroup').html($(this).data('group-name'));
                setTimeModal.modal('show');
            });

            setTimeModal.on("shown.bs.modal", function (e) {
                timeToSetInput.focus();
            });

            timeToSetInput.keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    setTimeConfirmBt.click();
                } else if (e.which === 32) {
                    e.preventDefault();
                    permitPersonalDeviceInput.click();
                }
            });

            permitPersonalDeviceInput.keypress(function (e) {
                if (e.which === 13) {
                    e.preventDefault();
                    setTimeConfirmBt.click();
                }
            });

            setTimeConfirmBt.click(function () {
                if (timeToSetInput.val() !== "")
                    timeToSet = timeToSetInput.val();
                window.location.href = internetOnBaseUrl.replace("%25groupId", groupId) + "timeToSet=" + timeToSet + "&personalDevice=" + (permitPersonalDeviceInput.is(':checked') ? "1" : "0");
                setTimeModal.modal('hide');
            });

            permitPersonalDeviceInput.click(function () {
                if (permitPersonalDeviceInput.is(':checked')) {
                    permitPersonalDeviceMsg.show();
                } else {
                    permitPersonalDeviceMsg.hide();
                }
            });

            var activatedPolling = function () {
                $.get(activatedPollingUrl, function (data) {
                    if (data.error === undefined && data.on === true && data.activationCompleted === true) {
                        window.location.reload();
                    }

                    if (++activatedPoolingRetryTimes < 10) {
                        setTimeout(activatedPolling, 1500);
                    }
                });
            };

            if (activatedPollingUrl !== "") {
                setTimeout(activatedPolling, 1500);
            }
        });
    </script>

    <a href="{{ path('group_providers_list') }}" class="btn btn-default"><i
                class="glyphicon glyphicon-icon-arrow-left"></i>Ritorna alla lista</a>
    {% if currentUserIsAdmin %}
        <a href="{{ path('group_new', {'providerId': provider.id}) }}" class="btn btn-primary">Crea Gruppo</a>
    {% endif %}

{% endblock %}
