<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Lista studenti</title>
    <style type="text/css">
        html {
            font-size: 13px;
        }

        @page {
            margin-top: {{ headerHeight + 20 }}px;
            margin-bottom: {{ footerHeight + 20 }}px;
        }

        .page-break {
            page-break-after: always;
        }

        .footer {
            bottom: 0px;
            position: fixed;
            left: 0;
            right: 0;
        }

        .header {
            top: -{{ headerHeight }}px;
            position: fixed;
            left: 0;
            right: 0;
        }

        .lista_studenti {
            width: 100%;
            border-collapse: collapse;
        }

        .lista_studenti td {
            margin: 0;
            border: 1px solid;
            padding: 5px;
        }

        .lista_studenti_header {
            font-weight: bold;
        }
        
        .head h1 {
            color: #00709e;
        }

    </style>
</head>
<body>
    {% if pdfHeader %}
        <div class="header" id="header">
            {{ pdfHeader|raw }}
        </div>
    {% endif %}

    {% if pdfFooter %}
        <div class="footer" id="footer">{{ pdfFooter|raw }}</div>
    {% endif %}

    <div class="head">
        <h1>Lista studenti</h1>

        <h3>{{ provider.name }} &gt; {% if group.sector %}{{ group.sector.name }} > {% endif %} {{ group.name }}</h3>
    </div>


    <table class="lista_studenti">
        <tr class="lista_studenti_header">
            <td>Cognome e nome</td>
            <td>Username</td>
            {% if showPassword %}
                <td>Password</td>
            {% endif %}
            <td>Email</td>
        </tr>
        {% set i = 1 %}
        {% for element in list %}
            <tr>
                <td>{{ i }}. {{ element.student.lastname }} {{ element.student.firstname }} </td>
                <td>{{ element.student.username }}</td>
                {% if showPassword %}
                    <td>{{ element.student.startingPassword }}</td>
                {% endif %}
                <td>{{ element.student.email }}</td>
                {% set i = i + 1 %}
            </tr>
        {% endfor %}
    </table>

</body>
</html>



